*{
 margin:0px;
 padding: 0px;
 box-sizing: border-box;
}
body{
  text-align: center;
}
.img1{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  border: 2px solid black;
  transition: 2s ease all;
  filter: blur(2px);
}
.img1:hover{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 0px;
  border: 2px solid black;
  transition: 1s ease all;
  filter: blur(0px);
  transform: scale(1.5) rotate(360deg)
}
.img2{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  border: 2px solid black;
  transition: 2s ease all;
  filter: grayscale(100%);
}
.img2:hover{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 0px;
  border: 2px solid black;
  transition: 1s ease all;
  filter: contrast(100%);
}
.img3{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  border: 2px solid black;
  transition: 2s ease all;
  filter: blur(2px);
}
.img3:hover{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 0px;
  border: 2px solid black;
  transition: 1s ease all;
  filter: sepia(100%);
  transform: scale(1.5) rotate(300deg)
}
.img4{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  border: 2px solid black;
  transition: 2s ease all;
  filter: blur(2px);
}
.img4:hover{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 0px;
  border: 2px solid black;
  transition: 1s ease all;
  filter: invert(100%);
  
}
.img5{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  border: 2px solid black;
  transition: 2s ease all;
  filter: saturate (30%);
}
.img5:hover{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 0px;
  border: 2px solid black;
  transition: 1s ease all;
  filter: brightness(0.4);

}